@{
    ViewData["Title"] = "Gestão de Contratos de Energia";
}

<div class="text-center">
    <h1 class="display-4">
        <a asp-area="" asp-controller="Contracts" asp-action="Index" class="btn btn-link">Clique aqui para visualizar os contratos</a>
    </h1>
</div>
